@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

#foto{
    background-color:rgba(239.00000095367432, 233.00000131130219, 231.00000143051147, 1);
}
#cardabajo{
    width: 30 rem;
    height: 60 rem;
}
#navbar{
    height: 7rem;
    background-color: rgba(103.0000014603138, 148.000006377697, 54.00000058114529, 1);
}
*{
    background-color: rgba(239.00000095367432, 233.00000131130219, 231.00000143051147, 1);
}
.card-body{
    border: 2rem solid var(--contrast);
    height: 10rem;
    text-align:center;
    font-family: 'Montserrat', sans-serif;

}
#button{
    background-color: rgba(103.0000014603138, 148.000006377697, 54.00000058114529, 1);
}




p{
    font-family: 'Montserrat', sans-serif;
}
#fotode{
    text-align:center;
}