

#fondo{
    background-color: #EFE9E7;
    margin-bottom: 0;
    margin-top: none;
}

#CDC{
    text-decoration: none;
}

#footer{
    background-color:#679436;
    padding: 0;
}
/* #compra{
    margin-right: 4rem;
} */

p{
    text-align: center;
}


.carritoContador {
    height: 25px;
    width: 25px;
    color: red;
    border-radius: 50%;
    display: inline-block;
    position: static;
  }


.itemComp{
    margin-bottom: 1rem;
    background: #EFE9E7;
    border:0.063rem solid #815636;
}

.informacion{
    padding-left : 2px solid;
}

#elementosCarritos{
    margin-top: 1rem;
}

.NombreTarjeta{
    font-size: 1.50rem;
    font-family: 'Merriweather', serif;
}

#iconos-redes{
    width: 20px;
    height: 20px;
    flex-direction: column;
    justify-items: center
}
.item-interior{
    background-color:#815636;
    
}

.items-secundario{
    height: 0rem;
    
    font-family: 'Montserrat';
    font-size:1rem;
    background-color: #815636;;
}

#llevas-todo{
    margin:0;
    font-family: 'Merriweather', serif;
    font-size:1.7rem;
    text-align: center;
    background-color: #815636;
}
#titulo{
    font-family: 'Merriweather', serif;
    font-size:3rem;
    margin:0;
    background-color: #815636;
} 
#tituloCompra{
    background-color: #815636;
}

.imagen{
    width: 25rem;
}
.container{
background-color: #EFE9E7;
}

body{
    background:#EFE9E7
}

.ratings i{
    font-size: 16px;color: red
}
.strike-text{
    color: red;text-decoration: line-through
}
.product-image{
    width: 100%
}

.dot{
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}
.spec-1{
    color: #938787;
    font-size: 15px
}
    
h5{
    font-weight: 400
}
.para{
    font-size: 16px
}

#total{
    
    font-family: 'Montserrat';
    font-size: 1.5rem; 
}

.botonTarjeta { 
	background-color:rgba(103.0000014603138, 148.000006377697, 54.00000058114529, 1);
    color: white;
    border: none;
    margin: none;
    font-size: 1rem;
    border-radius: .5rem;
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
   
}

.botonTarjeta:hover {
  background: #A5D09F;
  color: white;
}

.secundario{
    height: 0;
}

#valuesTitle{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 1.6rem;
    /*margin: 5rem;*/
    font-family: Merriweather;
    font-size: 4rem;
    background-color: #A5D09F;
    padding: 5rem;
}

#valuesTitle::before, #valuesTitle::after{
    content: "";
    height: 2px;
    background-color: #000;
    display:block;
}