@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Montserrat:wght@500&display=swap');

body {
    background-color: #EFE9E7;
}

.fondo{
    background-image: url(/assets/images/portada-catalogo.jpg);
    height: 20rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#titulos {
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 3rem;
}

#tarjetas{
    text-align: center;
    background-color: #A5D09F;
    border-color: #EFE9E7;
    margin: auto;
    max-width: 20rem;
    max-height: 15rem;
    transition: all 0.3s;
}

#tarjetas:hover{
    transform: scale(1.15);
}

.subtitle{
    text-align: left;
    font-size: 3rem;
    padding: 3rem;
}

.card{
    margin: 1.25rem;
    width: 24.688rem;
    height: 31.25rem;
    border-radius: 1.5rem;
    border: 0.125rem solid #A5D09F;
    background: #A5D09F;
    }

    h1, h5{
        font-family: 'Merriweather', serif;
        color: black;
    }
    button{
        border: none;
    }
    
    .img-fluid{
        width:27.688rem;
        height:18.438rem;
    }
    
    
    .tarjetaContenedor { 
        overflow:hidden;
        border: 0.125rem solid rgba(165.00000536441803, 208.0000028014183, 159.0000057220459, 1);
        box-shadow:0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
        background-color:rgba(165.00000536441803, 208.0000028014183, 159.0000057220459, 1);
        width:24.688rem;
        height:31.25rem;
        border-top-left-radius:1.5rem;
        border-top-right-radius:1.5rem;
        border-bottom-left-radius:1.5rem;
        border-bottom-right-radius:1.5rem;
        position:relative;
    }
    
    .nombreProducto{ 
        width:18.75rem;
        height:1.625rem;
        position:absolute;
        left:2rem;
        top:20.375rem;
        font-family:Merriweather;
        text-align:left;
        font-size:1.25rem;
        letter-spacing:7;
        
    }
    .precio { 
        color:rgba(66.00000366568565, 107.00000122189522, 31.000000052154064, 1);
        width:8.875rem;
        height:1.625rem;
        position:absolute;
        left:2rem;
        top:22.5rem;
        font-family:Montserrat;
        text-align:left;
        font-size:1.25rem;
        letter-spacing:0;
    }
    .decripcion { 
        color:rgba(109.43750202655792, 109.43750202655792, 109.43750202655792, 1);
        width:20.125rem;
        height:1.313rem;
        position:absolute;
        left:2rem;
        top:24.625rem;
        font-family:Montserrat;
        text-align:left;
        font-size:1rem;
        letter-spacing:0;
    }
    .imagenProducto{ 
        width:27.688rem;
        height:18.5rem;
        position:absolute;
        left:-1.5rem;
        top:0rem;
    }
    .botonTarjeta { 
        background-color:rgba(103.0000014603138, 148.000006377697, 54.00000058114529, 1);
        width:10.625rem;
        height:2.938rem;
        position:absolute;
        left:8.063rem;
        top:27.125rem;
        font-family:Merriweather;
        color: white;    
    }

    .botonTarjeta:hover { 
        transform: scale(1.15);
        transition: all 0.3s;
    }

    
    #final-text{
        font-family: Montserrat;
        font-size: 1.2rem;
        padding:3rem;
    }
    .link {
        font-style: bold;
        color:#815636;
    }

    a{
        text-decoration: none;
        color: black
    }