@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

#imagenLogo {
    width: 15rem;
    height: 15rem;
    background-color: #EFE9E7 ;
    border: none;
}

#categoria {
    font-family: 'Merriweather', serif;
    font-size: larger;
    height: 4rem;
    margin: 0;
}

#boton{
    padding: 10px 20px;
    font-family: 'Merriweather', serif;
    font-size: medium;
    cursor: pointer;
    background-color: #679436;
    border: none;
    margin: top 10px;
    border-radius: 20px;
    box-shadow: 1px 3px 11px -5px blueviolet
}

#boton:hover {
    background-color: beige;
    box-shadow: none;
    transition: ease-in 0.5s;
}

* {
    background-color: #EFE9E7;
}

#tituloEdicion{

    text-align: center;
    margin-top: 5rem;
    font-family: 'Merriweather', serif;

}
.card-img-top{
    height: 21rem;
}
