@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Montserrat:wght@600&display=swap');
body {
    /* background-color: #EFE9E7; */
    
}


#img{
    max-width: 40rem;
}

textarea {
    height: 9rem;
    width: 100%;
    resize: none;
}

#btn-image{
    background: #679436;
    color: white;
    margin: 1rem;
    padding: 0.4rem 1.25rem;
    cursor: pointer;
    border-radius: 0.4rem;
}

#imageForm{
    display: none;
}

button{
    color: #679436;
}

