
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

body {
    background-color: #EFE9E7;
}
#navbar, #dropdown {
    background-color: #679436;
    font-family: 'Merriweather', serif;
    font-size: 0.8rem;
}

#carrusel {
    margin: 1rem;
}

.temporada {
    margin: 1rem;
    font-family: 'Merriweather', serif;
}

#cont-t {
    background-color:#A5D09F;
}

#icono {
    height: 4rem ;
    width: 5rem ;
    margin-top: 1rem;
}

#footer {
    background-color:#A5D09F ;
    margin-top: 5rem;
}

#iconos-redes {
    height: 4rem ;
    width: 4rem ;
    margin-top: 1rem;
}
/*
#nav{
    margin-right: 0;
    padding-right: 0;
    justify-content: end;
}

#navbar--ul{
    justify-content: center;
    align-items: center;
    text-align: end;
}*/