/*todo esto corresponde a los estilos del Navbar*/
#navbarNav,
.container-fluid {
  justify-content: center;
  align-items: center;
  text-align: end;
  background-color: #679436;

}

.title {
  margin-left: 1rem;
  background-color: #679436;
  font-family: 'Merriweather', serif;
  text-decoration: none;
 margin-right: 5rem;

}

.title:hover {
  color: #554111;
}

#iconoCarrito{
  width: 2rem;
  height: 2rem;
}
#navbarPrincipal {
    padding-top: 0px;
    padding-bottom: 0px;

}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: medium;

}

.nav-link:hover {
  color: #EFE9E7;
}
/*hasta aqui terminan los estilos del navbar*/

.nav-item{
  background-color: #679436;
}

.rounded-circle{
  background-color: #679436;
}

#iconoCarrito{
  background-color: #679436;
}

#titulo, #llevas-todo{
  background-color: #679436;
}

.titulo_Navbar{
  color: black;
}