@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Montserrat:wght@500&display=swap');

body {
    background-color: #EFE9E7;
    
    }

#sobreNosotros {
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #EFE9E7;
    background-color: #815636;
}



.contenedor-texto{
    background-color: #EFE9E7;
    

}

.titles {
    font-family: 'Merriweather', serif;
    color: #000000;
    
}

#parrafo {
    font-family: 'Montserrat', sans-serif;
    color: black;
}


#titulos {
    font-family: 'Merriweather', serif;
    color: #000000;
    text-align:center;
}

#texto{
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align:center;
}

#cuerpo{
    background-color: #A5D09F;
    border-color: #EFE9E7;
    margin: auto;
}

