
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

body {
    background-color: #EFE9E7;
}
#navbar, #dropdown {
    background-color: #679436;
    font-family: 'Merriweather', serif;
    font-size: 0.8rem;
}

/*
#nav{
    margin-right: 0;
    padding-right: 0;
    justify-content: end;
}

#navbar--ul{
    justify-content: center;
    align-items: center;
    text-align: end;
}*/